<main>

    <div class="left">
      <div class="leftcontenido">
        <h1>Left Side</h1>
        <img id="catpic" src="catpic"height="200" />
        <button onclick="cat()">I am a cat.</button>
        <p>Cat with gray background</p>
      </div>
    </div>
    <div class="right">
      <div class="rightcontenido">
          <h1>Right Side</h1>
          <img id="dogpic" src="dogpic" height="200" />
          <button onclick="dog()">I am a dog.</button>
          <p>Dog with orange background</p>
      </div>
    </div>
</main>
