<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Site with VueJs</title>
    <link rel="stylesheet" href="master.css">


  </head>
  <body>
      <div class="img1"></div>

      <div class="img2">
        <div id="app">
          <p>{{ message }}</p>
          <button v-on:click="reverseMessage">Reverse</button>
        </div>
      </div>


      <div class="img3"> </div>


  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"type="text/javascript"></script>
</html>
