body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

.img1{
  background-image: url('img/img1.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height:100%;
}

.img2{
  background-image: url('img/img2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 40%;
}

.img3{
  background-image: url('img/img3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  height: 100%;

}

#app{
  padding-top: 100px;
  padding-left: 600px;
}

h1{
  margin: 0;
}
