<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Retro Proyecto</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    {{{body}}}

  </body>
  <script src="app.js"type="text/javascript">

  </script>
</html>
