/* line 6, ../sass/style.scss */
.left {
  position: absolute;
  height: 650px;
  width: 1275px;
  background-color: gray;
  clip-path: polygon(95% 0, 0 95%, 0 0);
}

/* line 14, ../sass/style.scss */
.right {
  height: 650px;
  width: 1275px;
  background-color: orange;
  clip-path: polygon(100% 5%, 6% 100%, 100% 100%);
}

/* line 20, ../sass/style.scss */
.leftcontenido {
  position: relative;
  top: 50px;
  left: 100px;
}

/* line 26, ../sass/style.scss */
.rightcontenido {
  position: absolute;
  top: 200px;
  left: 950px;
}
