//colors

$web_gray: gray;
$web_orange: orange;

.left{
  position: absolute;
  height: 650px;
  width: 1275px;
  background-color:$web_gray;
  clip-path: polygon(95% 0, 0 95%, 0 0);
}

.right{
  height: 650px;
  width: 1275px;
  background-color: $web_orange;
  clip-path: polygon(100% 5%, 6% 100%, 100% 100%);
}
.leftcontenido{
  position: relative;
  top: 50px;
  left: 100px;
}

.rightcontenido{
  position: absolute;
  top:200px;
  left: 950px;
}
